#level-container{
    display: flex;
}

#level-container .represent{
    flex-grow: 1;
    background-color: red;
}
#level-container .steps{
    flex-grow: 5;

    display: flex;
    justify-content: space-around;

    background-color: blue;
}
